<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <!-- header -->
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>CATEGORY</ion-title>
      <ion-icon slot="end" name="close-circle" (click)="dismiss()"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <!-- apps content -->
  <ion-content >
    <div class="detail">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Add photo</ion-card-subtitle>
          <ion-button expand="block" fill="clear" >
            <ion-input type="file" (change)="chooseFile($event)"></ion-input>
          </ion-button>
          <div *ngIf="category.gambar">
            <img src={{category.gambar}}>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="text" placeholder="category name" [(ngModel)]="category.kategori"></ion-input>
          <ion-button expand="block" fill="clear" shape="round" (click)="add()">
            <ion-icon name="checkmark-done-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>

