<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <!-- header -->
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-buttons>
      <ion-title>EDIT PROFILE</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- apps content -->
  <ion-content >
    <div class="profile">
      <!-- nombor pendaftaran -->
      <ion-card>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <ion-card-header class="edit-photo">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-card-subtitle>Add photo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-header>
          <ion-label>Nama Pemilik Kedai</ion-label>
          <ion-icon name="close" class="ion-float-right" routerLink="/profile"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="text" placeholder="Ali Maju" formControlName="name"></ion-input>
        </ion-card-content>
        <ion-card-header>
          <ion-label>Kewarganegaraan</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="text" placeholder="Muhamad Faiz Bin Zulkipli" formControlName="warganegara"></ion-input>
        </ion-card-content>
        <ion-card-header>
          <ion-label>Nama Kedai</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="text" placeholder="Muhamad Faiz Bin Zulkipli" formControlName="shopname"></ion-input>
        </ion-card-content>
        <!-- <ion-card-header>
          <ion-label>Nombor Telefon</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="number" placeholder="0175157736"></ion-input>
        </ion-card-content> -->
        <ion-card-header>
          <ion-label>Jenis Perniagaan</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="text" placeholder="Restoran" formControlName="perniagaan"></ion-input>
        </ion-card-content>
        <ion-card-header>
          <ion-label>Alamat</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-textarea placeholder="AC-4-12A JALAN PANDAN INDAH 3/6 PANDAN INDAH 55100 KUALA LUMPUR" formControlName="alamat">
          </ion-textarea>
        </ion-card-content>
        <ion-card-header>
          <ion-label>Negeri</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="text" formControlName="state"></ion-input>
        </ion-card-content>
        <ion-card-header>
          <ion-label>Poskod</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="number" formControlName="poskod"></ion-input>
        </ion-card-content>
        <ion-button expand="block" fill="clear" shape="round" type="submit">
          Confirm changes
          <ion-icon name="checkmark-done-outline"></ion-icon>
        </ion-button>
      </form>
      </ion-card>
    </div>
  </ion-content>
</ion-app>

