<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <!-- header -->
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>PRODUCT</ion-title>
      <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>
    </ion-toolbar>
  </ion-header>
  <!-- apps content -->
  <ion-content >
    <div class="detail">
      <ion-card>
        <ion-card-header>
          <!-- <ion-icon name="add-circle-outline" type="file"></ion-icon> -->
          <ion-card-subtitle>Add photo</ion-card-subtitle>
            <ion-button  expand="block" fill="clear">
              <ion-input type="file" (change)="chooseFile($event)"></ion-input>
            </ion-button>
            <div *ngIf="product.gambar">
              <img src={{product.gambar}}>
            </div>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="text" placeholder="product name" [(ngModel)]="product.nama"></ion-input>
            <ion-select (ionChange)="onChange($event)" placeholder="Pilih Kategori" [(ngModel)]="product.kategori">
              <ion-select-option *ngFor="let item of Category" value={{item.kategori}} >{{item.kategori}}</ion-select-option>
            </ion-select>
          <!-- <ion-input type="text" placeholder="category name" [(ngModel)]="product.kategori"></ion-input> -->
          <ion-input type="number" placeholder="price" [(ngModel)]="product.harga"></ion-input>
          <ion-input type="number" placeholder="quantity" [(ngModel)]="product.stok"></ion-input>
          <ion-button expand="block" fill="clear" shape="round" (click)="add()">
            <ion-icon name="checkmark-done-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>

