<ion-app>
  <ion-content>
    <!-- font-link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


    <!-- Logo -->
    <div class="logo">
      <img src="assets/media/logo.png" alt="" srcset="">
      <h2>MPAJ Vendor</h2>
    </div>
    <!-- login-form -->
    <div class="login-form">
      <ion-label>Nama/Email/No Telefon</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label class="password">Kata Laluan</ion-label>
      <ion-input type="Password"></ion-input>
      <!-- login-btn -->
      <ion-button expand="block" fill="clear" routerLink="/home">
        LOG MASUK
      </ion-button>
    </div>
    <div class="reset-pass">
      <p>Lupa kata laluan ? <a href="#" routerLink="/reset"> Reset kata laluan di sini</a></p>
      <p>Belum ada akaun ? <a href="" routerLink="/register">Daftar di sini</a></p>
    </div>
  </ion-content>
</ion-app>

