*{
    font-family: 'Poppins', arial;
}
ion-content{
    --background: none;
    background-color: #F1F9FF;
}
a{
    text-decoration: none;
    color: #0555B6;
}
.logo{
    margin-top: 8rem;
}
.logo h2{
    text-align: center;
    color: #0555B6;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.7rem;
}
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.login-form{
    margin-top: 4rem;
    margin-left: 2rem;
}
.login-form ion-label{
    color: #000;
    font-size: 1.13rem;
    padding-top: 1rem;
}
.login-form ion-input{
    display: block;
    padding-top: 1rem;
    margin-right: 2rem;
    border: 1px solid #C9C9C9;
    width: 90%;
    color: #000;
    border-radius: 2px;
}
.login-form ion-button{
    background-color: #0555B6;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.15rem;
    border-radius: 5px;
    width: 90%;
    margin-top: 1.3rem;
    margin-left: -0.01rem;
    height: 50px;
    font-family: 'Montserrat', arial;
}
.password{
    padding-top: 10rem;
}
.reset-pass{
    margin-top: 1.5rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
}
.reset-pass p{
    text-align: center;
    font-size: 1.13rem;
    color: #000;
}
.error-message{
    color: var(--ion-color-danger);
}