<ion-app>
  <!-- font-link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <!-- header -->
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-buttons>
      <ion-title>ALL PRODUCT</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- apps content -->
  <ion-content >
    <!-- <div class="category">
      <ion-card style="--background: url(../../assets/media/burger.jpg) no-repeat !important;">
        <ion-card-header>
          <ion-card-title>Burger</ion-card-title>
          <ion-card-subtitle>Category : Western</ion-card-subtitle>
          <ion-card-subtitle>RM 5</ion-card-subtitle>
          <ion-card-subtitle>Quantity : 10</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div> -->
    <div class="category">
      <ion-card *ngFor="let product of Products">
        <img src="{{product.gambar}}" alt="">
        <ion-card-header>
          <ion-card-title>{{product.nama}}</ion-card-title>
          <ion-card-subtitle>Category : {{product.kategori}}</ion-card-subtitle>
          <ion-card-subtitle>RM {{product.harga}}</ion-card-subtitle>
          <ion-card-subtitle>Quantity : {{product.stok}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle style="color: #0555B6;" (click)="editProduct(product.id)">Edit
            <ion-icon name="create-outline"></ion-icon></ion-card-subtitle>
          <ion-card-subtitle color="danger" style="margin-left: 5px;" (click)="remove(product.id)">Delete<ion-icon name="trash-outline"></ion-icon></ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="showModal()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>

