<ion-app>
  <ion-content>
    <!-- font-link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


    <!-- Logo -->
    <div class="logo">
      <img src="assets/media/logo.png" alt="" srcset="">
      <h2>MPAJ Vendor</h2>
    </div>
    <!-- login-form -->
    <div class="login-form">
      <ion-label>Nama/Email/No Telefon</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label class="password">Password</ion-label>
      <ion-input type="text"></ion-input>
      <!-- login-btn -->
      <ion-button expand="block" fill="clear">
        RESET KATA LALUAN
      </ion-button>
    </div>
  </ion-content>
</ion-app>

