*{
  font-family: 'Poppins', arial;
}
ion-toolbar{
  --background: none;
  background-color: #0555B6;
  height: 4.5rem;
  

  ion-icon{
      margin-left: 1rem;
      font-size: 1.5rem;
      margin-top: 2rem;
      font-weight: 600;
  }
  ion-menu-button{
    margin-left: 1rem;
    margin-top: 2rem;
    font-weight: 600;
}
}
ion-title{
  margin-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: 'Montserrat';
}
ion-content{
  --background: none;
  background-color: #fff;
}
.dashboard ion-card{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: -0.1rem;

  ion-card-title{
    font-size: 1.3rem;
    color: #fff;
  }
}
.title h3{
  font-family: 'Montserrat';
  color: #000;
  margin-left: 0.5rem;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}
.chart ion-card{
  background-color: #fff;
  border: 1px solid #0555B6;
  ion-card-title{
    color: #0555B6;
  }
}